*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#weather{
    width : 100%;
    height: 100vh;
    padding: 20px 0px;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("img/BG1.jpg") no-repeat center / cover;
}
#main_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
}

#input{
    padding: 10px 5px;
    border :  1px solid #fff;
    border-radius: 6px;
    color : #fafafa;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    background : transparent;
}
.btn{
    padding: 10px 20px;
    border : 1px solid rgba(255, 255, 255, 0.795);
    outline  :none;
    border-radius: 7px;
    background: transparent;
    color : #fff;
    font-size: 16px;
    font-weight: 400;
    transition : 0.4s;
}

.btn:hover{
    background : #fff;
    color : #000;
    cursor : pointer;

}
h2{
    color : #fafafa;
    margin-top: 20px;
    font-size: 35px;
}
h4{
    color :rgb(247, 205, 166);
    font-size: 26px;
}